<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'user' => 'user',
                    'password' => '',
                    'dbname' => 'db_name',
                ]
            ]
        ]
    ]
];